<h1>All Merchants<h1>

<div class="all_merchants_container">
<div class="all_merchants">
  <% @merchants.each do |merchant| %>
    <div id="merchant_<%= merchant.id %>" class="merchant">
    <div class="user_img">
      <%=image_tag(merchant.user_img_url)%>
    </div>
      <%=link_to merchant.name, merchants_path%>
      <% if merchant.active? %>
        <%=link_to "Disable", merchants_path%>
      <%end%>
    </div>
  <%end%>
</div>
</div>
