/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	box-sizing: border-box;
}

#main_container {
	margin-top: 0px;
	margin-left: 45px;
	margin-right: 45px;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0px;
	min-height: 100vh;
	background-color: #f4f4f4;
}

header a {
  color: #d1d8de;
  text-decoration: none;
}

body a {
	color: #718daa;
	transition: .2s;
	text-decoration: none;
}

body a:hover {
	color: #183048;
}

header a:hover {
	color: #718daa;
}

.logo {
	margin: 0;
	font-size: 2.45em;
}

.nav {
	display: grid;
	margin: 0px;

}
.main-nav {
	display: flex;
	background-color: #718daa91;
	padding: 0 0 0 30px;
}

.logo {
	text-transform: uppercase;
	margin-left: 45px;
}


.main-nav a {
	padding: 5px;
	text-transform: uppercase;
	margin: 0 20px 0 20px;
	color: #d1d8de;
	font-size: .99em;
	transition: .2s;
}

.main-nav a:hover {
	color: #718daa;
}

.login-label {
	color: white;
	margin: 12px 0 0 60px;
	padding: 0;
	font-weight: 100;
}

header {
	padding-top: .5em;
	padding-bottom: 1em;
	background-color: #273d52;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	border-radius-bottom: 5px;
}

.user {
	display: grid;
	width: stretch;
	align-content: center;
	text-align: center;
	font-size: medium;
	margin: 15px;
}


.user img{
	width: 30%;
	border-radius: 2px;
	box-shadow: 0 0px 3px 1px rgba(0,0,0,0.5);

}

.user_img {
	 margin: 0px;
}

.user a {
	display: grid;
	color:  #020000;
	text-decoration: underline;
	margin-left: 0px;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container > div {
  width: 100px;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
	padding-left: 20px;
}

.item-img img {
	text-align: center;
	width: 100%;
	height: 100%;
	box-shadow: 0 0px 10px 1px rgba(0,0,0,0.5);
	margin-top: 20px;
}

.all_users_container {
	display: grid;
	width: 100%;
	margin: 10px;
	align-content: center;
}

.users {
	display: grid;
	width: 100%;
	grid-template-columns: 33% 33% 33%;
	align-content: center;
	margin: auto;
}

.user {
	display: grid;
	width: 100%;
	align-content: center;
	text-align: center;
}


.user img{
	width: 50%;
	margin: 0px;
}

.user_show_page{
	display: grid;
}


.user a {
	display: grid;
	color: blue;
	text-decoration: underline;

}

.all_stuff {
		display: grid;
	grid-template-columns: 33% 33% 33%;
}

.all_user_info .user {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 60%;
}

.user_show_page .user_img{
	display: grid;
	margin-top: 25px;
}

.user_info {
	display: grid;
	text-align: left;
}

.card_container {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	width: 100%;
	margin: 20px;
}

.card_info {
	font-size:small;
	display: grid;
	margin: 20px;
}

.card_img {
	width: 20%;
	text-align: center;
}

.card_container .card_img{
	display: grid;
	margin-left: 70px;

}

.img_box {
	display: grid;
	text-align: center;

}

.item_index_stats {
	font-size: small;
}